<ion-header [translucent]="true">
  <app-toolbar
    title="Buscar"
    type="menu"
    [searchDefaultActive]="true"
    [searchDefaultValue]="searchQuery()"
  ></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">search</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="filters-container">
      <div class="filters-row">
        <div class="order-container">
          <ion-icon name="swap-vertical" color="light" size="small"></ion-icon>
          <!-- <ion-text class="order-label">Ordenar</ion-text> -->
          <ion-select #orderSelectInput interface="popover" selectedText="Ordenar" (ionChange)="onOrderChange($event)">
            <ion-select-option value='{ "field": "title", "direction": "asc" }'>Título (ascendente)</ion-select-option>
            <ion-select-option value='{ "field": "title", "direction": "desc" }'>Título (descendente)</ion-select-option>
            <ion-select-option value='{ "field": "price", "direction": "asc" }'>Precio (ascendente)</ion-select-option>
            <ion-select-option value='{ "field": "price", "direction": "desc" }'>Precio (descendente)</ion-select-option>
          </ion-select>
        </div>
        <div class="filters-container" (click)="openFiltersModal()">
          <ion-icon name="filter" color="light" size="small"></ion-icon>
          <ion-text class="filters-label">Filtrar</ion-text>
        </div>
      </div>

      <div class="filters-badges">
        @if (generalFilters().length > 0 || localFilters().length > 0 || order().field !== 'createdAt') {
          <ion-badge class="filter-badge" color="danger" slot="start" (click)="resetAllFilters()">
            <ion-icon name="close-outline" color="dark" size="small"></ion-icon>
            <ion-text>Todos los filtros</ion-text>
          </ion-badge>
        }
        @if (order().field !== 'createdAt') {
          <ion-badge class="filter-badge" color="warning" slot="start" (click)="removeOrder()">
            <ion-icon name="close-outline" color="dark" size="small"></ion-icon>
            <ion-text>{{ order().field | translateFilterKey }}: {{ order().direction === 'asc' ? 'Ascendente' : 'Descendente' }}</ion-text>
          </ion-badge>
        }
        @for (filter of generalFilters(); track filter.field) {
          <ion-badge class="filter-badge" color="warning" slot="start" (click)="removeGeneralFilter(filter)">
            <ion-icon name="close-outline" color="dark" size="small"></ion-icon>
            @if (filter.field === 'priceMin' || filter.field === 'priceMax') {
              <ion-text>{{ filter.field | translateFilterKey }}: {{ filter.value | formatCurrency }}</ion-text>
            } @else {
              <ion-text>{{ filter.field | translateFilterKey }}: {{ filter.value | translateFilterValue }}</ion-text>
            }
          </ion-badge>
        }
        @for (filter of localFilters(); track filter.field) {
          <ion-badge class="filter-badge" color="warning" slot="start" (click)="removeLocalFilter(filter)">
            <ion-icon name="close-outline" color="dark" size="small"></ion-icon>
            <ion-text>{{ filter.field | translateFilterKey }}: {{ filter.value | translateFilterValue }}</ion-text>
          </ion-badge>
        }
        <!-- <ion-badge color="primary" slot="start">
          <ion-icon name="close-outline" color="light" size="small"></ion-icon>
          <ion-text></ion-text>
        </ion-badge> -->
      </div>
    </div>
    

    <ion-text class="search-title">Resultados de búsqueda</ion-text>

    <div class="search-results-list">
      @if (loading()) {
        <div class="spinner-wrapper">
          <ion-spinner name="circular"></ion-spinner>
        </div>
      } @else if (searchResults().length === 0) {
        <div class="container-empty">
          <ion-text class="text-empty">No hay resultados</ion-text>
        </div>
      } @else {
        @for (post of searchResults(); track post._id) {
          <ion-item class="post-item" [routerLink]="['/tabs/post-detail/' + post._id]"> 
            <ion-thumbnail slot="start" class="post-image">
              <img [src]="post.mainImageURL" alt="Imagen principal del anuncio">
            </ion-thumbnail>
            <div class="labels-container">
              <ion-text class="post-title">{{ post.title }}</ion-text>
              <ion-label class="post-category">{{ post.article.category }}</ion-label>
              <ion-text class="post-price">{{ post.price | formatCurrency }}</ion-text>
            </div>  
          </ion-item>
        }
      }
    </div>
  </div>
</ion-content>
