<ion-header [translucent]="true">
  <app-toolbar
    type="arrow-back"
    title="Pagar"
    [showSearch]="false"
    [showProgressBar]="true"
    [progressBarValue]="progressBarValue()"
    [backActionType]="step() === 1 ? 'default' : 'emit'"
    (backPressed)="prevStep()"
  ></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="payment" [class.hidden]="step() !== 1">
      <div class="payment-content">
        <ion-text class="payment-label">Datos de pago</ion-text>
        
        <div class="inputs-container">
          <div class="card-number-wrapper">
            <ion-label>Nombre del titular de la tarjeta (opcional)</ion-label>
            <ion-input class="custom" type="text" [(ngModel)]="cardName"></ion-input>
          </div>
          
          <div class="stripe-card-wrapper">
            <ion-label>Datos de la tarjeta</ion-label>
            <app-stripe-card
              #stripeCardComponent
              (cardReadyEvent)="onStripeCardReady()"
              (cardCompleteEvent)="onStripeCardComplete()"
              (cardErrorEvent)="onStripeCardError($event)"
            ></app-stripe-card>
          </div>
        </div>
      </div>

      <div class="buttons-container">
        <ion-button class="custom" [disabled]="!stripeCardReady() || !stripeCardComplete() || stripeCardError()" (click)="goToSummary()">
          Continuar
          @if (!stripeCardReady()) {
            <ion-spinner name="crescent"></ion-spinner>
          }
        </ion-button> 
      </div>
    </div>

    <div class="summary" [class.hidden]="step() !== 2">
      <div class="summary-content-wrapper">
        <ion-text class="summary-label">Resumen</ion-text>
        <div class="summary-content">
          <div class="summary-items-rows">
            @for (cartItem of cartItems(); track cartItem.postId) {
              <ion-text class="summary-row item-row">
                <ion-text class="item-title">{{ cartItem.title }}</ion-text>
                <ion-text class="item-price">{{ cartItem.price | formatCurrency }}</ion-text>
              </ion-text>
            }
          </div>
          <div class="summary-row shipping-row">
            <ion-text class="shipping-label">Envío</ion-text>
            <ion-text class="shipping-price">{{ itemsShippingTotal() | formatCurrency }}</ion-text>
          </div>
          <div class="summary-row total-row">
            <ion-text class="total-label">Total</ion-text>
            <ion-text class="total-price">{{ totalPrice() | formatCurrency }}</ion-text>
          </div>
        </div>
      </div>
      
      <div class="buttons-container">
        <ion-button class="custom" [disabled]="checkoutLoading()" (click)="handleCheckout()">
          Confirmar pago
          @if (checkoutLoading()) {
            <ion-spinner name="crescent"></ion-spinner>
          }
        </ion-button> 
      </div>
    </div>
    
  </div>
</ion-content>
