.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  justify-content: flex-start;

  .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 40dvw;
    height: 35dvh;
    min-height: fit-content;
    margin-right: 1rem;
    scroll-snap-align: start;
    cursor: pointer;

    .card-image {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 40%;
    }

    .card-content-wrapper {
      height: 60%;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: space-between;

      .card-title {
        color: var(--ion-color-medium-tint);
        text-transform: uppercase;
        font-size: var(--label-large-size, 0.875rem);
        font-style: normal;
        font-weight: var(--label-large-weight-prominent, 600);
        line-height: var(--label-large-line-height, 1.25rem);
        letter-spacing: var(--label-large-letter-spacing, 0.00625rem);
      }

      .card-subtitle {
        color: var(--ion-color-light);
        font-size: var(--body-medium-size, 0.875rem);
        font-style: normal;
        font-weight: var(--body-medium-weight, 400);
        line-height: var(--body-medium-line-height, 1.25rem);
        letter-spacing: var(--body-medium-tracking, 0.01563rem);

        /* line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; */
      }

      .card-price {
        color: var(--ion-color-light);
        font-size: var(--body-large-size, 1rem); 
        font-style: normal;
        font-weight: var(--body-large-weight-prominent, 600);
        line-height: var(--body-large-line-height, 1.5rem);
        letter-spacing: var(--body-large-tracking, 0.03125rem);
      }
    }

  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-track {
    display: none;
  }
}