<div class="cards-row">
  @for (post of posts(); track post._id) {
    <ion-card class="card" [routerLink]="['/tabs/post-detail/' + post._id]">
      <div class="card-image" style="background-image: url('{{ post.mainImageURL }}')">
        <!-- <img [src]="post.mainImageURL" class="card-image" alt="Imagen principal del anuncio {{ post.title }}"/> -->
      </div>
      <div class="card-content-wrapper">
        <ion-card-header>
          <ion-card-title class="card-title">{{ post.article?.category }}</ion-card-title>
          <ion-card-subtitle class="card-subtitle">{{ post.title ?? '' }}</ion-card-subtitle> 
        </ion-card-header>
        <ion-card-content class="card-price">
          {{ post.price ?? 0 | formatCurrency }}
        </ion-card-content>
      </div>
    </ion-card>
  }
</div>