<ion-header [translucent]="true">
  <app-toolbar
    type="arrow-back"
    title="Restablecer contraseña"
    titleFontSize="small"
    [showSearch]="false"
    [showCart]="false"
  ></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Restablecer contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <app-password-reset-form
      (resetPasswordEvent)="resetPassword($event)"
    ></app-password-reset-form>
  </div>
</ion-content>
