<ion-toolbar color="dark">
  <ion-buttons slot="start">
    <!-- <ion-button (click)="goTo()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>    -->
    @if (searchActive()) {
      <ion-searchbar></ion-searchbar>
    } @else {
      @if (type() === 'arrow-back') {
        @if (backActionType() === 'default') {
          <ion-back-button defaultHref="/auth/welcome" icon="arrow-back-outline" color="light"></ion-back-button> 
        } @else if (backActionType() === 'emit') {
          <ion-button (click)="backPressed.emit()">
            <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
          </ion-button>
        }
      } @else if (type() === 'menu') {
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      }
    }
  </ion-buttons>
  <ion-buttons slot="end">
    @if (showSearch() && !searchActive()) {
      <ion-button (click)="openSearchBar()">
        <ion-icon slot="icon-only" name="search-outline" color="light"></ion-icon>
      </ion-button>
    }
    @if (showCart()) {
      <ion-button (click)="this.router.navigate(['/cart'])">
        <div class="cart-icon-wrapper">
          <ion-icon slot="icon-only" name="cart-outline" color="light"></ion-icon>
          @if (cartItemsAmount() > 0) {
            <ion-badge class="cart-badge" color="dark">{{ cartService.cartItemsAmount() }}</ion-badge>
          }
        </div>
      </ion-button>
    }
  </ion-buttons>
  <ion-title [attr.size]="largeTitle() ? 'large' : undefined">{{ title() }}</ion-title>
  @if (showProgressBar()) {
    <ion-progress-bar color="light" [value]="progressBarValue()"></ion-progress-bar>
  }
</ion-toolbar>