<!-- <ion-header [attr.translucent]="!largeTitle()" [attr.collapse]="largeTitle() ? 'condense' : undefined">-->  
<ion-toolbar color="dark">
  <ion-buttons slot="start">
    <!-- <ion-button (click)="goTo()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>    -->
    @if (searchActive()) {
      <ion-searchbar></ion-searchbar>
    } @else {
      @if (type() === 'arrow-back') {
        <ion-back-button defaultHref="/auth/welcome" icon="arrow-back-outline" color="light"></ion-back-button> 
      } @else if (type() === 'menu') {
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
        </ion-button>
      }
    }
  </ion-buttons>
  <ion-buttons slot="end">
    @if (showSearch() && !searchActive()) {
      <ion-button (click)="openSearchBar()">
        <ion-icon slot="icon-only" name="search-outline" color="light"></ion-icon>
      </ion-button>
    }
    @if (showCart()) {
      <ion-button (click)="this.router.navigate(['/cart'])">
        <ion-icon slot="icon-only" name="cart-outline" color="light"></ion-icon>
      </ion-button>
    }
  </ion-buttons>
  <ion-title [attr.size]="largeTitle() ? 'large' : undefined">{{ title() }}</ion-title>
  @if (showProgressBar()) {
    <ion-progress-bar [value]="progressBarValue()"></ion-progress-bar>
  }
</ion-toolbar>
<!-- </ion-header>-->