<ion-header [translucent]="true">
  <app-toolbar 
    type="arrow-back"
    [title]="'Vender'"
  ></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sell</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="container">
    <app-sell-form
      [submitAttempted]="submitAttempted()"
      [uploadedImagesURLs]="uploadedImagesURLs()"
      [disabledPublishButton]="disabledPublishButton()"
      (controlFocus)="onControlFocus($event)"
      (uploadImages)="onImagesUpload()"
      (formSubmit)="handleFormSubmit()"
    ></app-sell-form>
    <input 
      #fileInput 
      type="file" 
      accept="image/*" 
      multiple 
      (change)="handleFileInput($event)" 
      hidden 
    />
  </div>
</ion-content>
