:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.images-upload-box-container {
  min-height: 11rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.images-upload-box {
  position: relative;
  margin: 1rem 0rem 0rem calc(var(--horizontal-margin) * (-1));
  min-width: 100dvw;
  min-height: 8rem;
  border-radius: 0rem;
  background-color: var(--ion-color-dark-shade); // Default
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  &.has-image::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    /* Darken with semi-transparent black */
  }

  ion-text {
    position: absolute;
    z-index: 1;
    bottom: 55%;
    color: var(--ion-color-light-shade);
    font-size: var(--label-large-size, 0.875rem);
    font-style: normal;
    font-weight: var(--label-large-weight-prominent, 600);
    line-height: var(--label-large-line-height, 1.25rem);
    letter-spacing: var(--label-large-tracking, 0.00625rem);
  }

  .camera-icon-wrapper {
    position: relative;
    display: inline-block;
  }

  ion-icon {
    position: absolute;
    top: 55%;
    right: -8px;
    z-index: 1;
    color: var(--ion-color-light-shade);
    font-size: 2.5rem;
  }

  .camera-badge {
    position: absolute;
    top: -6px;
    right: -16px;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 50%;
  }
}

.price-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .price-input-wrapper {
    max-width: 66%;

    .price-currency {
      color: var(--ion-color-light-shade);
      font-size: var(--label-larger-size, 1.25rem);
      margin-right: 0.5rem;
    }
  }

  .price-suggestion-wrapper {
    align-self: center;
    flex: 1 0 auto;
  }
}

.description-wrapper {
  margin-bottom: 1rem;
  min-height: 9.5rem;
}

.condition-wrapper,
.category-wrapper {
  padding-bottom: 2rem;

  .radiobuttons-container {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    ion-row {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }

    ion-col {
      min-width: 10rem;
      max-width: 10rem;
    }

    ion-radio-group {
      display: flex;
      width: 100%;
    }

    .radiobutton-wrapper {
      display: flex;
      gap: 1rem;

      ion-radio {
        font-size: var(--body-large-size, 1rem);
        font-style: normal;
        font-weight: var(body-large-weight, 400);
        line-height: var(--body-large-line-height, 1.5rem);
        letter-spacing: var(--body-large-tracking, 0.03125rem);
      }
    }
  }
}

.button-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}