<form [formGroup]="loginForm">

  <div class="input-wrapper">
    <ion-label class="custom" color="light">Email o nombre de usuario</ion-label>
    <ion-input formControlName="emailOrUsername" type="email" class="custom" (ionFocus)="controlFocus.emit('emailOrUsername')"></ion-input>
    @if (submitAttempted() && loginForm.get('emailOrUsername')?.errors?.['required']) {
      <ion-text class="error-text" color="danger">Introduce un email o un nombre de usuario</ion-text>
    }
  </div>

  <div class="input-wrapper">
    <div class="password-labels-wrapper">
      <ion-label class="custom" color="light">Contraseña</ion-label>
      @if (forgotPasswordVisible()) {
        <ion-label class="custom link forgot-password" [routerLink]="['/auth/password-reset']">¿Olvidaste la contraseña?</ion-label> 
      } 
    </div>
    <ion-input formControlName="password" type="password" class="custom" (ionFocus)="controlFocus.emit('password')">
      <ion-input-password-toggle slot="end" color="light"></ion-input-password-toggle>
    </ion-input>
    @if (submitAttempted()) {
      @if (loginForm.get('password')?.errors?.['required']) {  
        <ion-text class="error-text" color="danger">Introduce una contraseña</ion-text>
      }

      @if (authErrorMessage()) {
        <ion-text class="error-text auth-error" color="danger">{{ authErrorMessage() }}</ion-text>
      }
    }
  </div>  
</form>

<div class="button-subtitle-container">
  <ion-button [disabled]="loading()" (click)="formSubmit.emit(this.loginForm.value)">
    Ingresar
    @if (loading()) {
      <ion-spinner name="crescent"></ion-spinner>
    }
  </ion-button>
  <ion-text>¿No tienes cuenta? <a class="inline-link" [routerLink]="['/auth/register']">Regístrate</a></ion-text>
  <!-- <ion-button class="ion-text-uppercase" (click)="onGoogleLogin()">Google</ion-button>
  <ion-button (click)="onAppleLogin()">Apple</ion-button> -->  
</div>