
<ion-header>
  <app-toolbar
    type="arrow-back"
    title="Registro"
    [showSearch]="false"
    [showCart]="false"
    [showProgressBar]="true"
    [progressBarValue]="progressBarValue()"
    [backActionType]="step() === 1 ? 'default' : 'emit'"
    (backPressed)="prevStep()"
  ></app-toolbar>
</ion-header>
      
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="title-form-container">
      <div class="title-container">
        @switch(step()) {
          @case (1) {
            <h1>¿Cuál es tu email?</h1>
            <h4>Introduce el email con el que quieres iniciar sesión en BeatMarket</h4> 
          }
          @case (2) {
            <h1>Rellena tus datos de usuario</h1>
          }
          @case (3) {
            <h1>Rellena tus datos personales</h1>
          }
          @case (4) {
            <h1>Cuéntanos sobre ti</h1>
          }
        }
      </div>

      <app-register-form
        [step]="step()"
        [submitAttempts]="submitAttempts"
        [loadingStates]="loadingStates"
        [avatarDataURL]="profilePictureDataURL()"
        [authProviderErrorMessage]="errorMessage()"
        (controlFocus)="onControlFocus($event)"
        (uploadAvatar)="onAvatarUpload()"
        (nextStep)="nextStep()"
        (formSubmit)="handleRegister()"> 
      </app-register-form>
      <input 
        #fileInput
        type="file" 
        accept="image/*" 
        (change)="handleFileInput($event)"
        hidden
      />
    </div>
  </div>
</ion-content>
