<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/auth/landing" icon="arrow-back-outline" color="light"></ion-back-button> -->
      <ion-button [routerLink]="['/auth/landing']">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <app-login-form 
      [authProviderErrorMessage]="authProviderErrorMessage()"
      [submitAttempt]="submitAttempt()"
      (controlFocus)="onControlFocus($event)"
      (formSubmit)="handleLogin($event)">
    </app-login-form>
  </div>
</ion-content>
