<ion-header>
  <app-toolbar
    type="arrow-back"
    title="Ingresar"
    [showSearch]="false"
    [showCart]="false"
    backActionType="emit"
    (backPressed)="onBackPressed()"
  ></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <app-login-form 
      [authErrorMessage]="errorMessage()"
      [submitAttempted]="submitAttempted()"
      [loading]="loading()"
      [forgotPasswordVisible]="forgotPasswordVisible()"
      (controlFocus)="onControlFocus($event)"
      (formSubmit)="login($event)"
      (goToRegister)="onGoToRegister()"
    ></app-login-form>
  </div>
</ion-content>
