<ion-header [translucent]="true">
  <app-toolbar
    title="Vender"
  ></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    @if (loadingAccountStatus()) {
      <div class="loading-spinner-container">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    } @else {
      <div class="text-container">
        <ion-text class="text">Para poder publicar anuncios y recibir pagos de los compradores, debes activar tu cuenta de Stripe.</ion-text>
      </div>
  
      <div class="button-container">
        <ion-button class="custom" [disabled]="loadingOnboardingLink()" (click)="goToStripe()">
          Activar cuenta de Stripe
          @if (loadingOnboardingLink()) {
            <ion-spinner name="crescent"></ion-spinner>
          }  
        </ion-button>
      </div>
    }
  </div>
</ion-content>
