.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;

  .text-container {
    margin-top: 40%;
    text-align: center;

    .text {
      color: var(--ion-color-light-shade);
      font-size: var(--body-larger-size, 1.25rem);
      line-height: 1.25rem;
    }
  }

  .background-logo {
    width: 60dvw;
    height: 60dvw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../../assets/stripe-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.2;
  }

  .button-container {
    width: 100%;

    ion-button {
      --padding-top: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --padding-end: 0;
    }

    &:has(ion-button.ios) {
      margin-bottom: 24px;
    }

    .stripe-logo-container {
      display: flex;
      width: fit-content;
      height: fit-content;
      margin-right: 5%;
      opacity: 0.8;
      overflow: hidden;

      img {
        height: 50px;
      }
    }
  }
}