.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;

  .loading-spinner-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-container {
    margin-top: 40%;
    text-align: center;

    .text {
      color: var(--ion-color-light-shade);
      font-size: var(--body-larger-size, 1.25rem);
      line-height: 1.25rem;
    }
  }

  .button-container {
    width: 100%;

    ion-button {
      --padding-top: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --padding-end: 0;
    }

    &:has(ion-button.ios) {
      margin-bottom: 24px;
    }

    .stripe-logo-container {
      display: flex;
      width: fit-content;
      height: fit-content;
      margin-right: 5%;
      opacity: 0.8;
      overflow: hidden;

      img {
        height: 50px;
      }
    }
  }
}