.container-empty {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text-empty {
    color: var(--ion-color-medium-tint);
    font-size: var(--body-large-size, 1rem);
    font-style: normal;
    font-weight: var(--body-large-weight, 400);
    line-height: var(--body-large-line-height, 1.5rem);
    letter-spacing: var(--body-large-tracking, 0.03125rem);
  }
}

ion-list.sales-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .sale-item {
    --padding-start: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    .post-data {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      width: 60%;

      ion-thumbnail.post-image {
        --border-radius: 4px;
        /* margin-top: 0; */
        min-height: 64px;
        min-width: 64px;
      }

      .labels-container {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
  
        .post-title {
          font-size: var(--body-large-size, 1rem);
          font-style: normal;
          font-weight: var(--body-large-weight, 400);
          line-height: var(1rem);
          letter-spacing: var(--body-large-tracking, 0.03125rem);
        }
      
        .post-condition {
          font-size: var(--label-large-size, 0.875rem);
          font-style: normal;
          font-weight: var(--label-large-weight-prominent, 600);
          line-height: var(--label-large-line-height, 1.25rem);
          letter-spacing: var(--label-large-tracking, 0.00625rem);
        }
      
        .post-price {
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.625rem;
        }
      }
    }

    .sale-data {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .sale-date {
        text-align: right;
        font-size: var(--label-large-size, 0.875rem); 
        font-style: normal;
        font-weight: var(--label-large-weight-prominent, 600);
        line-height: var(--label-large-line-height, 1.25rem);
        letter-spacing: var(--label-large-tracking, 0.00625rem);
      }

      .user-data-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        .user-data-label {
          color: var(--ion-color-medium-tint);
          text-align: right;

          font-size: var(--label-large-size, 0.875rem);
          font-style: normal;
          font-weight: var(--label-large-weight, 400);
          line-height: var(--label-large-line-height, 1.25rem); /* 142.857% */
          letter-spacing: var(--label-large-tracking, 0.00625rem);
        }

        .user-data {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;

          .user-avatar {
            width: 2rem;
            height: 2rem;
          }

          .user-name {
            font-size: var(--label-medium-size, 0.75rem);
            font-style: normal;
            font-weight: var(--label-medium-weight-prominent, 600);
            line-height: var(--label-medium-line-height, 1rem);
            letter-spacing: var(--label-medium-tracking, 0.03125rem);
          }
        }
      }

    }
  
  
  }
}

