<app-menu 
  contentId="menu-content"
  [username]="authService.currentUser()?.username ?? ''"
  [userProfilePictureURL]="authService.currentUser()?.profilePictureURL ?? ''">
</app-menu>
<ion-tabs id="menu-content" (ionTabsWillChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sell">
      <ion-icon aria-hidden="true" name="musical-notes"></ion-icon>
      <ion-label>Vender</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sell">
      <ion-icon aria-hidden="true" name="chatbox-ellipses"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>