<form>
  <div class="input-wrapper">
    <ion-label class="custom" color="light">Correo electrónico</ion-label>
    <ion-input 
      #emailControl="ngModel" 
      [(ngModel)]="email"
      name="email" 
      required
      email
      type="email" 
      class="custom"
      (ionFocus)="onInputFocus($event)" 
    ></ion-input>
    @if (submitAttempt() && errorMessage()) {
      <ion-text class="error-text" color="danger">{{ errorMessage() }}</ion-text>
    }
  </div>
</form>

<div class="button-container">
  <ion-button type="button" (click)="resetPassword(email)">Restablecer contraseña</ion-button>
</div>
