<ion-header>
  <app-toolbar type="menu" title="Inicio"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="title-cards-row-container">
      <ion-text class="title-cards-row">Últimos anuncios</ion-text> 
      @if (loading()) {
        <div class="loading-spinner-container">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      } @else {
        <div class="cards-row-wrapper">
          <app-post-cards-row
            [posts]="latestPosts()"
          ></app-post-cards-row>
        </div>
      }
    </div>

    <div class="title-cards-row-container">
      <ion-text class="title-cards-row">Anuncios destacados</ion-text>
      @if (loading()) {
        <div class="loading-spinner-container">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      } @else {
        <div class="cards-row-wrapper">
          <app-post-cards-row
            [posts]="recommendedPosts()"
          ></app-post-cards-row>
        </div>
      }
    </div>
  </div>
</ion-content>
