.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;

  .loading-spinner-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    min-height: 15.25rem;   // Reserve space for the cards row to avoid layout shift
  }

  .title-cards-row-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .cards-row-wrapper {
      margin-inline-start: calc(var(--horizontal-margin, 24px) * -1);
      margin-inline-end: calc(var(--horizontal-margin, 24px) * -1);
    }
  }

  .title-cards-row {
    font-size: var(--headline-small-size, 1.5rem);
    font-style: normal;
    font-weight: var(--headline-small-weight, 400);
    line-height: var(--headline-small-line-height, 2rem); /* 133.333% */ 
    letter-spacing: var(--headline-small-tracking, 0rem);
  }
}