<ion-header>
  <app-toolbar type="menu" title="Inicio"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="title-cards-row-container">
      <ion-text class="title-cards-row">Últimos anuncios</ion-text> 
      <app-post-cards-row
        [posts]="latestPosts"
      ></app-post-cards-row>
    </div>

    <div class="title-cards-row-container">
      <ion-text class="title-cards-row">Anuncios destacados</ion-text>
      <app-post-cards-row
        [posts]="recommendedPosts"
      ></app-post-cards-row>
    </div>
  </div>
</ion-content>
