.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .loading-spinner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .top-tabs-container {
    display: flex;
    flex-direction: row;
    min-height: 4rem;
    min-width: 100dvw;
    margin-left: calc(1.5rem * -1);
    margin-bottom: 3rem;

    & > .bought-tab,
    & > .sold-tab {
      flex: 1 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--ion-color-medium);
      cursor: pointer;
    }

    .bought-tab {
      border-right: 1px solid var(--ion-color-dark-tint);
    }
    .sold-tab {
      border-left: 1px solid var(--ion-color-dark-tint);
    }

    .selected {
      color: var(--ion-color-light);
    }
  }
}


